*.py[co]
pip-log.txt
.DS_Store
*.swp
*.swo
*.pyc
dropin.cache
server/uploads/*
server/temp/*
server/audio/*
server/frontend/static/build/*
twistd.pid
.vagrant
_trial_temp*
*~
server/cyclone_server/build/pip-delete-this-directory.txt
*.swo
*.log
*.lock
*.zip
*.rdb
*.*~
docs/db/schema.sql~
.idea*
server/audio/*
server/_build/*
tmp.*
server/tests/test_data/*
*._.DS_Store
.project
.pydevproject
