<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tweet Sherlock</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/style.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/retina.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom_dashboard.css" rel="stylesheet">
    <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
        <div class="row" style="margin-top: 66px;">
            <img src="/static/images/bg.jpg" style="position: absolute;top: 0;width: 100%;z-index: -1;"/>
            <div class="col-lg-16" style="margin-bottom: 270px;">
				<div class="intro_text">Tweet Sherlock</div>
                <input class="search_textbox" type="text" id="search_key" style="width: 39%;margin-left: 360px;border-radius: 5px 0 0 5px;"/>
                <button id="search_button" style="height: 35px;margin-left: -5px;border-radius: 0 5px 5px 0;" class="btn btn-warning"><i class="icon-search" style="opacity:0.5;"></i> Search</button>
                <img class="loading" src="/static/bootstrap/img/spinner-mini.gif" style="margin:auto;margin-top:80px;" />
                <div class="loading" style="color: #FFF;text-shadow: 0 0 5px #000;font-size: 24px;font-weight: 100;text-align: center;">Processing...</div>
            </div>
        </div>
        <div style="margin-top: 400px;font-size: 36px;font-weight: 100;text-align: center;margin-bottom: 30px;">Evidence Dashboard</div>
        <div class="row">
            <div class="col-sm-6">
                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><i class="fa fa-list-alt"></i><span class="break"></span>Sentiment</h2>
                    </div>
                    <div class="box-content">
                         <div id="sentimentchart" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><i class="fa fa-list-alt"></i><span class="break"></span>Twitter verified users</h2>
                    </div>
                    <div class="box-content">
                         <div id="donutchart" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">    
            <div class="col-lg-6">
                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="fa fa-user"></i><span class="break"></span>Positive Tweets</h2>
                    </div>
                    <div class="box-content">
                        <div class="graph">
                            <div class="timeline" id="viewDiv7-top">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="fa fa-user"></i><span class="break"></span>Negative Tweets</h2>
                    </div>
                    <div class="box-content">
                        <div class="graph">
                            <div class="timeline" id="viewDiv7-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">    
            <div class="col-lg-6">
                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="fa fa-user"></i><span class="break"></span>User Details</h2>
                    </div>
                    <div class="box-content" id="viewDiv8">
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><i class="fa fa-list-alt"></i><span class="break"></span>Top Users</h2>
                    </div>
                    <div class="box-content" id="viewDiv9" style="height:500px;"></div>
                </div>
            </div>
        </div>

        <div class="row">    
            <div class="col-sm-6">
                <div class="box">
                    <div class="box-header" data-original-title="">
                        <h2><i class="fa fa-user"></i><span class="break"></span>Top 10 hashtags</h2>
                    </div>
                    <div class="box-content">
                        <table class="table table-bordered bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr role="row">
						            <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Feature">
						                Feature
						            </th>
						            <th role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sentiment" style="width: 200px;">
						                Occurrence
						            </th>
							    </tr>
						    </thead>   
								      
					        <tbody id="viewDiv5" role="alert" aria-live="polite" aria-relevant="all">
                            </tbody>
                        </table>         
					</div>
				</div>
			</div>
            <div class="col-sm-6">
                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><i class="fa fa-list-alt"></i><span class="break"></span>Most Important tweets</h2>
                    </div>
                    <div class="box-content" id="viewDiv0"></div>
                </div>
            </div>
        </div>

    </div>


    
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/js/jquery-1.8.3.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/retina.min.js"></script>
    <script src="/static/js/custom.min.js"></script>
    <script src="/static/js/core.min.js"></script>
    <script src="/static/js/jquery.flot.min.js"></script>
    <script src="/static/js/jquery.flot.pie.min.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/xcharts.min.js"></script>
    <script src="/static/js/pages/index.js"></script>
    <script src="/static/js/jquery.tmpl.min.js"></script>
    <script src="/static/js/moment.js"></script>
    <script src="/static/js/custom.js"></script>

<script type="text/template" id="viewItem7">
<div class="timeslot <%-className%> <%-type%>" style="height:<%-text.length * 0.5%>px;">
    <div class="task">
        <span class="details">
            <%-text%>
        </span>
        <div class="at-arrow"></div>
    </div>
    <div class="icon"><%-sentiment%></div>
</div>
</script>

<script type="text/template" id="viewItem5">
<tr>
	<td class="center ">
	    <span><%-name%></span>
	    <span class="occ label label-warning"><%-count%></span>
	</td>
	<td class="occBar">
	    <div class="posBar" style="width:<%-occPer%>%;"></div>
	</td>
</tr>
</script>

<script type="text/template" id="viewItem8">
<div class="v8div">
    <div>
        <img src="<%-user.image%>" style="width:40px;height:40px;"/>
        <div class="v8name"><%-user.name%>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#777;font-size:12px;"><%-user.location%></span></div>
        <div class="v8desc"><%-user.description%></div>
    </div>
    <div style="margin-left: 60px;color:#777;position: relative;top: -15px;">
        <%-user.followers%> followers &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%-user.tweets%> tweets
    </div>
    <div class="v8text">
        <%-text%>
    </div>
    <div style="color:#777;">
        <%-count.retweet%> retweets &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%-count.favorite%> favorites
    </div>
</div>
</script>

<script type="text/template" id="viewItem0">
<% for(var i=0; i<info.length; i++){{'{'}} %>
<div>
    <div>
        <img src="<%-info[i].user.image%>" style="width:40px;height:40px;"/>
        <div class="v8name" style="margin-left:5px;"><%-info[i].user.name%>&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>
    <div class="v8text" style="font-size: 18px;font-weight: 100;margin-left: 50px;position: relative;top: -18px;">
        <%-info[i].text%>
    </div>
    <div style="margin-left: 50px;font-size: 12px;color: #333;margin-top: 2px;position: relative;top: -18px;">
        SCORE&nbsp;<%-info[i].stats.total%> &nbsp;&nbsp; ( <%-info[i].stats.retweet%> retweet&nbsp;+&nbsp; <%-info[i].stats.favorite%> favorite&nbsp;+&nbsp; <%-info[i].stats.views%> views )
    </div>
</div>
<% } %>
</script>

</body>
 
</html>
