<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ID Card Reader</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/blog.css" rel="stylesheet">

    <style type="text/css" id="holderjs-style"></style>
  </head>

  <body style="font-size: 20px;">

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
        </nav>
      </div>
    </div>

    <div class="container-fluid">
      <div class="blog-header">
       <div class="row">
          
        <div id="webcam" style="height:480px;width:640px;float:left;margin-left:-105px;">
        </div>

        
        <div class="sidebar-module col-sm-6 searchform" style= "float:right;padding-left:50px;padding-top:25px;margin-right:-75px;">
            <span style= "margin-left:125px!important;font-size: large;">ID Data Reader </span> 
            
         <div class="row form1" style="margin-bottom:0;">
             <div class="col-sm-4" style= "font-size:15px; font-family: proxima-nova,sans-serif;font-weight:800;">ID number </div>
             <div class="col-sm-8">
                 <span id="idcard" style="line-height:16px;margin-left:10px;font-size:18px;font-weight:800;color:#F89406;padding:10px;height:50px;">Reading...</span>
             </div>
         </div>

         <div class="row form1" style="margin-bottom:0;">
             <div class="col-sm-4" style= "font-size:15px; font-family: proxima-nova,sans-serif;font-weight:800;">Name </div>
             <div class="col-sm-8">
                 <span id="name" style="line-height:16px;margin-left:10px;font-size:18px;font-weight:800;color:#F89406;padding:10px;height:50px;"></span>
             </div>
         </div>
         <div class="row form1" style="margin-bottom:0;">
             <div class="col-sm-4" style= "font-size:15px; font-family: proxima-nova,sans-serif;font-weight:800;">Department </div>
             <div class="col-sm-8">
                 <span id="dept" style="line-height:16px;margin-left:10px;font-size:18px;font-weight:800;color:#F89406;padding:10px;height:50px;"></span>
             </div>
         </div>
         <div class="row form1" style="margin-bottom:0;">
             <div class="col-sm-4" style= "font-size:15px; font-family: proxima-nova,sans-serif;font-weight:800;">Undergrag/Grad </div>
             <div class="col-sm-8">
                 <span id="grad_type" style="line-height:16px;margin-left:10px;font-size:18px;font-weight:800;color:#F89406;padding:10px;height:50px;"></span>
             </div>
         </div>
         <div class="row form1" style="margin-bottom:0;">
             <div class="col-sm-4" style= "font-size:15px; font-family: proxima-nova,sans-serif;font-weight:800;">Card number </div>
             <div class="col-sm-8">
                 <span id="cardno" style="line-height:16px;margin-left:10px;font-size:18px;font-weight:800;color:#F89406;padding:10px;height:50px;"></span>
             </div>
         </div>
    
        </div>  
        </div><!-- /.row -->
       </div><!-- /.blog-header -->
      
    </div><!-- /.container -->

    
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/jquery-1.8.3.js"></script>
    <script src="/static/bootstrap/bootstrap.js"></script>
    <script src="/static/underscore.js"></script>
    <script src="/static/webcam.js"></script>
    <script src="/static/sample_cam.js"></script>
    
  
 </body>
 
</html>
