<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  	<title>Housing Hackathon</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/housinghackathon.css" rel="stylesheet">

  </head>

  <body style="font-size: 20px;">

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
        </nav>
      </div>
    </div>

    <div class="container-fluid">
       <div class="row">
		<div class="search_background_image">
			<div class="search_main_container">
				<div class="search_bar_wrapper">
					<div class="keywords_container">
						<input type="text" id="search_key"  style="height: 59px;width: 350px;"/>
						<button id="search_button" class="btn search_btn"><i class="icon-search" style="opacity:0.5;"></i> Search</button>
					</div>
				</div>            
			</div>
		 </div>
        </div><!-- /.row -->
      
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/jquery-1.8.3.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/underscore.js"></script>
    <script src="/static/js/housinghackathon.js"></script>
    
  
 </body>
 
</html>
